<ul class="nav nav-tabs nav-fill nav-justified justify-content-center mx-4" data-bs-theme="dark">
    <li class="nav-item">
      <a class="nav-link" href="/courses">View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/courses/new">Upload</a>
    </li>
</ul>